@mixin flex($align: center, $justify: center, $direction: row, $wrap: nowrap) {
      display: flex;
      align-items: $align;
      justify-content: $justify;
      flex-direction: $direction;
      flex-wrap: $wrap;
}

@mixin center($w: $screen-max-width, $p: 0) {
      padding: $p;
      max-width: $w;
      margin: 0 auto;
      width: 100%;
}
